:root {

	--main-bg-color: white;
	--main-text-color: black;
	--main-link-color: blue;
	--secondary-link-color: purple;
	
	--input-background-color: white;
	--input-text-color: black;
	--input-border-color: lightgray;
	
	--input-button-background-color: white;
	--input-button-text-color: black;
	--input-button-radius: 0px;
	--input-button-border-color: lightgray;
	
	--notification-border-width: 4px;
	--notification-border-radius: 10px;
	--notification-warning-border-color: #e65c00;
	--notification-warning-background-color: #ff8533;
	--notification-error-border-color: #e60000;
	--notification-error-background-color: #ff3333;
	--notification-success-border-color: #00b300;
	--notification-success-background-color: #1aff1a;
	--notification-unknown-border-color:  #404040;
	--notification-unknown-background-color: #696969;
	--notification-info-border-color: #002db3;
	--notification-info-background-color: #3366ff;

	--blur-amount: 5px;
	
	--quote-color: #789922;
	--bluequote-color: #226199;
	
	--bb-green: #2B2;
	--bb-red: #f00;
	--bb-blue: #22b;
	--bb-pink: #ff1493;
	--bb-brown: #a65329;
	--bb-black: #800;
	--bb-white: #0d0b0b;
	--bb-yellow: #ff0;
	--bb-orange: #ffa500;
	--bb-purple: #800080;
	--bb-gray: #808080;
	--bb-shadow: 0 0 1px #800000,  0 0 2px #800;
	
	--username-color: #117743;
	--op-tag-background-color: #2D935F;
	--op-tag-color: #fff;
}

@font-face {
	font-family: Verdana, Geneva, sans-serif;
}

@media all {

	html, body {
		margin:0;
		padding:0;
		min-height:100%;
		height: auto;
		margin-right: 5px;
    	margin-left: 5px;
		background-color: var(--main-bg-color);
		color: var(--main-text-color);
		display: flex;
		width: 100%;
	}body.no_sidebar {
		flex-direction: column;
	}footer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: auto;
	}
	
	a {
		text-decoration: none;
		color: var(--main-link-color);
	}a:hover {
		color: var(--secondary-link-color);
	}
	
	input:not([type="submit"]):not([type="checkbox"]), select, textarea {
		background-color: var(--input-background-color);
		color: var(--input-text-color);
		border-color: var(--input-border-color);
	}input[type="submit" i] {
		background-color: var(--input-button-background-color);
		color: var(--input-button-text-color);
		border-color: var(--input-button-border-color);
		border-radius: var(--input-button-radius);
	}

	.left{ float: left; }
	.right{ float: right; }
	.bold { font-weight: bold; }
	.green { color: var(--bb-green) }
	.red {color: var(--bb-red); }
	.blue {color: var(--bb-blue); }
	.pink {color: var(--bb-pink); }
	.brown {color: var(--bb-brown); }
	.black {color: var(--bb-black); }
	.white {color: var(--bb-white); }
	.yellow {color: var(--bb-yellow); }
	.orange {color: var(--bb-orange); }
	.purple {color: var(--bb-purple); }
	.gray { color: var(--bb-gray); }
	.shadow { text-shadow: var(--bb-shadow); }
	.quote { color: var(--quote-color); }
	.bluequote { color: var(--bluequote-color); }
	.admin { color: #c0f; }
	.mod { color: #f00; }
	.spoiler {
		background: #000;
		color: #000;
		border-radius: 3px;
		padding: 0 2px;
	}.spoiler:hover {
		color: white;
	}.fortune {
		font-family: 'Brush Script MT', cursive;
		color: #c0f;
		padding-left: 5px;
		padding-right: 5px;
		text-shadow: 0 0 1px #800000,  0 0 2px #800;
	}

	.op_tag {
		color: var(--op-tag-color);
		padding: 0 5px;
		background-color: var(--op-tag-background-color);
	}.username {
		color: var(--username-color);
		font-weight: 600;
	}
	
	.gpdrupdated::after {
		font-weight: bold;
		color: green;
		transform: rotate(45deg);
	}
	
	.notifications {
		position: fixed;
		right: 20px;
		top: 20px;
		z-index: 9999;
	}.notifications .notification {
		border-radius: var(--notification-border-radius);
		margin-bottom: 10px; /* Spece between bubbles */
		color: #000;
		padding: 5px 10px;
	}.notifications .notification.warning {
		border: var(--notification-border-width) solid var(--notification-warning-border-color);
		background-color: var(--notification-warning-background-color);
	}.notifications .notification.error {
		border: var(--notification-border-width) solid var(--notification-error-border-color);
		background-color: var(--notification-error-background-color);
	}.notifications .notification.success {
		border: var(--notification-border-width) solid var(--notification-success-border-color);
		background-color: var(--notification-success-background-color);
	}.notifications .notification.unknown {
		border: var(--notification-border-width) solid var(--notification-unknown-border-color);
		background-color: var(--notification-unknown-background-color);
	}.notifications .notification.info {
		border: var(--notification-border-width) solid var(--notification-info-border-color);
		background-color: var(--notification-info-background-color);
	}.notification.fadeOut {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s 4s, opacity 2s linear;
	}

	.content {
		width: 100%;
		padding: 10px;
	}
	
	.container {
		display: flex;
		flex-direction: column;
	}.container div {
		display: flex;
		width: 100%;
		padding: 10px;
		gap: 10px 0px;
	}.container div > * {
		width: 100%;
	}.container .title {
		text-align: center;
	}.container .fill {
		flex-direction: column;
	}
	
	.no_sidebar .logo {
		display: none;
	}.nav ul {
		list-style-type: none;
		overflow: hidden;
	}.nav .header {
		background-color: var(--list-highlight-color);
	}.no_sidebar ul {
		display: block;
	}.no_sidebar .nav li {
		float: left;
		padding-right: 5px;
	}.no_sidebar .nav .sfw, .no_sidebar .nav .nsfw {
		display: none;
	}.no_sidebar .nav .header {
		display: none;
	}
	
	.floatingQuote {
		position: fixed;
		border: 2px solid black;
		box-shadow: 10px 5px 5px black;
		border: 2px solid black;
		border-radius: 5px !important;
	}

	.list .startpost {
		display: flow-root;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 2px solid rgb(128, 128, 128);
	}

	.grid {
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
		grid-gap: 15px 25px;
		width: 100%;
	}.grid .startpost {
		display: grid;
		max-width: 45vw;
		border: 1px solid black;
		width: 100%;
		padding: 5px;
		max-height: 400px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}.grid .messageoptions, .grid .poster_info, .grid .data_info, .grid .replies {
		display: none;
	}.grid .topic {
		display: block ruby;
	}.grid .filecontainer {
		display: flex;
		justify-content: center;
		word-break: break-all;
		width: 100%;
	}.grid .filecontainer a {
		width: 100%;
		display: flex;
		justify-content: center;
	}.grid .filecontainer img {
		max-height: 150px;
		/* width: 100%; */
	}.grid .postcontainer {
		height: 100%;
		overflow: hidden;
	}
	
	.thread {
		padding: 10px;
		width: 100%;
	}.thread .answer {
		background-color: var(--message-bg-color);
		margin-bottom: 10px;
		min-width: 400px;
	}.thread .filecontainer {
		padding: 0 10px;
	}.thread img {
		width: 100%;
	}.thread .topic {
		font-size: 1.2em;
	}.thread .poster_info {
		background-color: var(--header-bg-color);
	}.thread .messageoptions {
		float: right;
	}.thread .topic {
		display: block;
		width: 100%;
	}
	
	.postcontainer .topic {
		background-color: var(--header-bg-color);
	}
	
	.message {
		padding: 40px 5px 5px;
		font-size: 10pt;
		white-space: pre-wrap;
	}
	
	.omitted {
		flex-shrink: 0;
    	overflow: hidden;
	    display: block ruby;
		font-size: 0.7em;
		padding-top: 5px;
	}
	
		/* Message form*/
	.message_form {
		max-width: 700px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: auto;
		vertical-align: middle;
	}.message_form > div {
		display: flex; 
		width: 100%;
	}.message_form input[type="text"], .message_form input[type="file"] {
		width: 100%;
		height: 30px;
    	margin-top: 1px;
	}.message_form input.button {
		min-width: 200px;
		width: 100%;
		height: 30px;
	}.message_form textarea {
		width: 99%;
		height: 100px;
		background-color: var(--textarea-background-color);
		border-color: var(--textarea-border-color);
		color: var(--textarea-txt-color);
	}.actions {
		width: 25px;
		float: left;
	}.message_form label:not([for="message"]) {
		width: 100px;
		display: block;
  		text-align: center;
	}.message_form label[for="message"] {
		display: none;
	}.message_form .file_preview {
		max-width: 50px;
		max-height: 70px;
	}.message_form .buttons {
		justify-content: space-between;
	}
	
}

/* Computer */
@media all and (min-width: 1024px) {
	
	body:not(.no_sidebar) .nav {
		width: 200px;
		background-color: var(--main-bg-color);
	}body:not(.no_sidebar) .nav ul {
		display: contents;
	}body:not(.no_sidebar) .nav .nav_content {
		position: fixed;
		width: 200px;
	}body:not(.no_sidebar) .nav .header {
		background-color: var(--header-bg-color);
	}
	
	.nav .logo {
		width: 100%;
	}.nav img.logo {
		width: 100px;
	}.nav input {
		width: fit-content;
		margin-left: 0 !importent;
	}
	
	.no_sidebar .nav form {
		display: none;
	}
	
	.op_tag {
		font-size: 0.85em;
		border-radius: 7px;
	}
	
	.notifications .notification {
		width: 200px;
		min-height: 100px;
	}
	
	.container {
		flex-direction: row;
	}.container input[type="checkbox"] {
		width: auto;
		float: right;
	}
	
	.data_info {
		font-size: 0.7em;
	}
	
	.filecontainer .thumbnail img {
		max-width: 200px;
	}
	
	.message {
		font-size: 10pt;
	}
	
	.user_settings {
		width: 35vw;
	}.user_settings div {
		border-top: 1px solid black;
	}.user_settings input[type="submit"] {
		width: 100px;
		margin-left: auto;
	}.user_settings.container {
		flex-direction: column;
	}
}

/* Mobile */
@media all and (max-width: 1024px) {
	
	body {
		font-size: 19px !important;
		margin: auto auto;
		flex-direction: column;
	}
	
	* {
		font-size 40px !important;
	}
	
	footer {
		flex-direction: column;
	}
	
	.op_tag {
		font-size: 0.80em;
		border-radius: 20px;
	}
	
	.notifications .notification {
		width: 95vw;
		min-height: 300px;
	}
	
	.nav form, .nav .header, .nav .sfw, .nav .nsfw, .nav .logo {
		display: none;
	}.nav ul {
		display: block;
	}.nav li {
		float: left;
		padding-right: 5px;
	}
	
	.container {
		width: 95vw;
		/* font-size: 3em; */
	}.container div {
		width: 100%;
	}.container label {
		min-width: 100%;
	}.container input, .container select {
		width: 100%;
		font-size: 1em;
		height: fit-content;
		align-self: center;
	}.container input[type="checkbox"] {
		width: 50px;
		height: 50px;
		margin-left: auto;
	}
	
	.user_settings div {
		flex-direction: column;
	}.user_settings .css_fix {
		font-size: 0.8em;
	}
	
	
	.borderheader {
		font-size: 2em;
		display: block;
	}.borderheader .nsfw {
		font-size: 0.2em;
		color: red;
	}.borderheader .sfw {
		font-size: 0.2em;
		color: green;
	}.borderheaderdesc {
		font-size: 0.5em;
	}
	
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(var(--grid-min-width-mobile), 1fr));
		grid-template-columns: auto auto;
	}
	
	.thread, .answer, .startpost, .postcontainer {
		width: 100vw;
	}
	
	.code {
		overflow: scroll;
	}
	
	.message_form {
    	width: 100%;
		max-width: 100%;
		font-size: 1.5em;
	}.message_form label {
    	width: 300px;
	}.message_form input {
		height: 80px !important;
		font-size: 2em;
	}.message_form input.button {
    	height: 80px;
		font-size: 2em;
	}.message_form input.file {
    	height: 80px;
		font-size: 2em;
	}#message_box {
		font-size: 2em;
	}.message {
		/* font-size: 1em; */
    	padding-top: 25px;
	}.followed_box {
		display: none;
	}.message_form label {
		display: none !important;
	}.message_form textarea {
		height: 4em;
	}
	
	
	
}
