:root {
	--main-bg-color: #191919;
	--main-text-color: #eee;
	--main-link-color: #17a45c;
	--secondary-link-color: #eee;
	
	--input-background-color: #252525;
	--input-text-color: #eee;
	--input-border-color: #000;
	
	--input-button-background-color: #17a45c;
	--input-button-text-color: #fff;
	--input-button-radius: 4px;
	--input-button-border-color: #17a45c #17a45c #17a45c #17a45c;
	
	--textarea-background-color: #252525;
	--textarea-color: #eee;
	--textarea-border-color : #303030;
	
	--header-bg-color: #303030;
	
	--message-bg-color : #2c2c2c;
}

.answer {
  display: table;
}

.message_form label, .message_form .sfw, .message_form .nsfw  {
	display: none !important;
}