body {
	background-color: #191919;
	color: #eee;
	margin: 15px;
}li {
	width: max-content;
	color: #000;
}.header {
	font-weight: bold;
	color: #eee;
}
.folder {background-color: #ffe592;}
.folder:before, .folder:after {content: "/";}
.php {background-color: #8993be;}
.js {background-color: #F0DB4F;}
.css {background-color: #264de4 ;}
.html {background-color: #E44D26;}
.ttf {background-color: #a9a9b0;}
.txt {background-color: #fff;}
.svg {background-color: #ffb03a;}
.py {background-color: #306998;}
.sh {background-color: #2b3539}